<p>
    {{'A E I O U' | lowercase | changeVocalsToNumbers}} {{myShoppingCar.length}}
</p>


<!-- <p>{{today | date: 'yyyy/dd/mm'  }}</p>
<p>{{today | timeAgo}}</p>
<p>{{date | date: 'short'}}</p>
<p>${{total}}</p>
<p>{{'ASDKNFaslkndfoisdii' | lowercase}}</p> -->

<button (click)="createNewProduct()">Create new product</button>

<div class="products--grid">
    <app-product
     [product]="Product"
      *ngFor="let Product of products" 
      (addedProduct)="onAddToShoppingCar($event)" 
      (showProduct)="onShowDetail($event)">
    </app-product>
    <button (click)="loadMoreProducts()">Load More</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
    <div *ngIf="productChosen">
        <button (click)="toggleProductDetail()">Close</button>
         <button (click)="updateProduct()">Editar</button>
         <button (click)="deleteProduct()">Delete</button>
        <h2>{{productChosen.title}}</h2>
        <swiper
        [slidesPerView]="1"
        >
            <ng-template swiperSlide *ngFor="let img of productChosen.images">
                <img [src]="img" alt="">
            </ng-template>
        </swiper>
        <p>{{productChosen.description}}</p>
       
    </div>
    </div>
