<app-nav></app-nav>
<app-products></app-products>

<!-- 
<br>
<app-img img ='Este valor viene desde el padre'></app-img>
<p><input type="text" [(ngModel)]="imgParent"/></p>
<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<br> -->

<!-- 
<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm = 'ngForm'>
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name"/>
    <p>MENSAJE DE ERROR</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" name="email" required id="email" [(ngModel)]="register.email"/>
    <p>MENSAJE DE ERROR</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="text" name="password" required id="password" [(ngModel)]="register.password"/>
    <p>MENSAJE DE ERROR</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
<hr> -->

<!-- 
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4 ="ngModel" [(ngModel)]="person.name"/>
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="
    {
      'width.px':box.width,
      'height.px':box.height,
      'background-color':box.background, 
      'display':'block' 
    }">
    </div>
  </div>
</div>
<hr/>
<h1>Class and style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid? 'italic':'normal'">texto texto</p>
<div class="styles">
  <div>
    <input type ="text" [(ngModel)]="widthImg"/>
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" />
  </div>
</div>
<hr/>
<h1>Switch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">

  <p *ngSwitchCase ="'Carlos'">
    Hola carlos
  </p>
  <p *ngSwitchCase="'Jose'">Hola Jose</p>
  <p *ngSwitchCase="'Joaquin'">Hola joaquin</p>
  <p *ngSwitchCase="'Samm'">Hola Samm</p>
  <p *ngSwitchDefault>hola quien seas</p>
</div>
<hr/>
<h1>ngFor for objets</h1>
<div class="products--grid">
  <div *ngFor="let product of Products">
    <img width="250" [src]="product.Image" alt="image" />
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<Hr/>
<h1>ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngFor = "let name of names; index as i"> 
    {{i}}{{name}}
  </li>
</ul>
<hr/>
<h1>ngif</h1>
  <input type="text" required [(ngModel)]="person.name"/>
  <p *ngIf ="person.name === 'Juan'; else else1">Soy Juan<p>
  <p>Valid: {{nameInput.valid}}</p>
<ng-template #else1>
  <p>Incorrect name</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
  <p>Nombre {{person.name}}</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
  <p>Vali: {{nameInput.valid}}</p>
  <p>Age {{person.age}}
  </p>
  <input type = "number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
  <p>valid {{ageInput.valid}}</p> 
<hr/>
<h1>Eventos</h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <button (click)="toggleButton()">Toggle Button</button>
  <p>Edad {{person.age}}</p>
  <button (click)="ageIncrease()">Age++</button>
  <div class = "box" (scroll)="OnScroll($event)">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ratione doloribus aliquid numquam, ipsam cupiditate laboriosam ipsa natus quia, harum quasi accusamus facilis corrupti aut hic cumque atque, veritatis architecto?</p>
  </div>
  <p>Nombre {{person.name}}</p>
  <input type = "text" [value] ="name" (keyup)="changeName($event)"/>
<hr/>
  <h1>Propiedades<h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <input type = "text" [value] ="person.name"/>
  <progress max = "100" [value] = "person.age"></progress>
  <img width="100" [src]="img" />
  <hr/>
  <h1>Mensaje generico<h1>
      <p>3 + 3 = {{3 + 3}}</p>
      <h3>Nombre = {{person.name}}, edad = {{person.age}} </h3>
      <img src = {{img}}> -->
